
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none;
    word-break:break-all;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:700;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 0;
}

@media (max-width: 767px) {
 .pc {
      display: none !important;
    }
 }

 